.user-logged-in
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 238px;
}

.item::before
{
    content: url("../../../../assets/images/login-icon.svg");
    width: 38px;
    height: 38px;
    position: absolute;
    top: -8px;
    left: -53px;
}

.item
{
    transition: text-shadow .3s;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    font-weight: 600;
    color: #FDB100;
    text-decoration: none;
}

.item::after
{
    content: url("../../../../assets/images/line.svg");
    position: absolute;
    top: 1px;
    right: -33px;
}

.item_link
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}