.search
{
    width: 62%;
    height: 115px;
    margin: 0 auto;
}

.search__input:hover
{
    border: 1px solid #FDB100;
}

.search__input
{
    width: 73%;
    height: 17px;
    padding: 28px 32px;
    margin-left: 0.5%;
    border-radius: 16px; 
    border: none; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: rgba(37, 41, 45, 0.5);
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border: 1px solid #FFF;
    outline: none;
}

.search__button:hover
{
    width: 151px;
    border: 1px solid #FDB100;
    box-sizing: border-box;
    background-color: #FFF;
    color: #FDB100;
}

.search__button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 16px;
    height: 73px;
    width: 152px;
    background: #FDB100;
    color: #FFF;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    border: none;
    position: relative;
}

.tags
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    margin-top: 23px;
}

.tag:hover
{
    color: black;
}

.tag
{
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: #808080;
    border: none;
    text-decoration: none;
}