.header
{
  display: flex;
  flex-direction: row;
  width: 83.2%;
  height: 56px;
  padding: 44px 8.4% 0px;
  justify-content: space-between;
}

.navigation
{
  display: flex;
  flex-direction: row;
  width: 43.5%;
  justify-content: space-between;
}

.title
{
  display: block;
  width: 99px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FDB100;
  margin-right: 8%;
}

.item:hover {
    font-weight: 600;
    color: #3A3C41;
}

.item:active {
    font-weight: 600;
    color: #3A3C41;
}

.item {
    display: block;
    margin-top: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
    background: none;
    border: none;
    text-decoration: none;
}

.item__home
{
  width: 76px;
}

.item__recipe
{
  width: 82px;
}

.item__favorites
{
  width: 106px;
}