<div class="profile">
    <a class="back" routerLink="/recipe">Назад</a>
    <div class="title">
        <span class="title_text">Мой профиль</span>
    </div>
    <div class="user-data" [ngClass]="isEdit ? 'user-data_active' : 'user-data'">
        <a class="edit" (click)="showEditing()"></a>
        <div class="user-data_left-column">
            <input 
                class="user-data_input user-data_input_small" 
                [ngClass]="isEdit ? 'user-data_input_active' : 'user-data_input'" 
                placeholder="Имя" 
                type="text" 
                name="name" 
                id="name-input" 
                [ngModel]="author.name" 
                disabled>
            <input 
                class="user-data_input user-data_input_small"
                [ngClass]="isEdit ? 'user-data_input_active' : 'user-data_input'"  
                placeholder="Логин" 
                type="text" 
                name="login" 
                id="login-input" 
                [ngModel]="author.login" 
                disabled>
            <div class="password">
                <input 
                    class="user-data_input user-data_input_small" 
                    [ngClass]="isEdit ? 'user-data_input_active' : 'user-data_input'" 
                    placeholder="Пароль" 
                    type="password" 
                    name="password" 
                    id="password-input" 
                    [ngModel]="author.password" 
                    disabled>
                <a class="password-invisible" *ngIf="!isVisible" (click)="showHidePassword()"></a>
                <a class="password-visible" [ngClass]="isEdit ? 'password-visible_active' : 'password-visible'" *ngIf="isVisible" (click)="showHidePassword()"></a>
            </div>
            <a class="user-data_button" *ngIf="isEdit" (click)="showEditing()">Сохранить</a>
        </div>
        <div class="user-data_right-column">
            <textarea 
                class="user-data_input user-data_input_big" 
                [ngClass]="isEdit ? 'user-data_input_big_active' : 'user-data_input_big'" 
                placeholder="Напишите немного о себе" 
                type="text" 
                name="description" 
                [(ngModel)]="author.description">
            </textarea>
            <a class="user-data_button" *ngIf="isEdit" (click)="showEditing()">Отменить</a>
        </div>
    </div>
    <div class="cards">
        <div class="card">  
            <span class="card_title">Всего рецептов</span>
            <span class="card_number">15</span>
        </div>
        <div class="card">
            <span class="card_title">Всего лайков</span>
            <span class="card_number">15</span>
        </div>
        <div class="card">
            <span class="card_title">В избранных</span>
            <span class="card_number">15</span>
        </div>
    </div>
    <div class="recipes">
        <div class="recipes_title">
            <span class="recipes_title_text">Мои рецепты</span>
        </div>
        <app-card class="recipe" *ngFor="let recipe of recipes" [card]="recipe" [displayTheTitle]="true" [displayTheLink]="true"></app-card>
    </div>
</div>