<div class="home-page">
    <div class="slogan">
        <div class="slogan__content">
            <span class="slogan__content__title">
                Готовь и делись рецептами
            </span>
            <span class="slogan__content__statement">
                Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.
            </span>
            <div class="slogan__buttons">
                <a href="#" class="button button_recipe">
                    Добавить рецепт
                </a>
                <a href="#" class="button button_login">
                    Войти
                </a>
            </div>
        </div>
    </div>
    <app-sorting-by-tags></app-sorting-by-tags>
    <app-recipe-of-the-day></app-recipe-of-the-day>
    <div class="search">
        <span class="search__title">Поиск рецептов</span>
        <span class="search__text">
            Введите примерное название блюда, а мы по тегам найдем его
        </span>
        <div class="search__content">
            <app-search-recipes></app-search-recipes>
        </div>
    </div>
</div>