<div class="recipe">
    <a class="back" routerLink="/recipe">Назад</a>
    <div class="title">
        <span class="title_text">{{recipe.name}}</span>
        <div class="buttons">
            <a class="title_button title_button_delete"></a>
            <a class="title_button title_button_edit">Редактировать</a>
        </div>
    </div>
    <app-card class="card" [card]="recipe" [displayingThetTitle]="false"></app-card>
    <div class="recipe-container">
        <div class="ingredients">
            <span class="ingredients_header">Ингридиенты</span>
            <div class="ingredients_block" *ngFor="let ingredient of recipe.ingredients"> 
                <span class="ingredients_title">{{ingredient.title}}</span>
                <span class="ingredients_ingredient" *ngFor="let item of ingredient.items">{{item}}</span>
            </div>
        </div>
        <div class="steps">
            <app-recipe-step class="step" *ngFor="let step of recipe.steps" [step]="step"></app-recipe-step>
            <span class="steps_footer">Приятного аппетита!</span>
        </div>
    </div>
</div>  