.item::before
{
    content: url("../../../../assets/images/login-icon.svg");
    width: 38px;
    height: 38px;
    position: absolute;
    top: -8px;
    left: -47px;
}

.item:hover {
    color: #df9c00;
}

.item
{
    position: relative;
    width: 60px;
    font-weight: 600;
    color: #FDB100;
    margin-right: 0.4%;
    text-decoration: none;
}