<div class="day_recipe">
    <div class="day_recipe_content">
        <span class="day_recipe_like">356</span>
        <span class="day_recipe_title">
            Тыквенный супчик<br/>на кокосовом молоке
        </span>
        <span class="day_recipe_text">
            Если у вас осталась тыква, и вы не знаете что с ней сделать, 
            то это решение для вас! Ароматный, согревающий суп-пюре на 
            кокосовом молоке. Можно даже в Пост!
        </span>
    </div>
    <a href="#" class="day_recipe_user">@glazest</a>
</div>
