<div class="popup-authorization">
    <a mat-dialog-close class="exit"></a>
    <span class="popup-authorization_title">Войти</span>
    <input class="popup-authorization_input" placeholder="Логин" type="text" name="login" autocomplete="off">
    <input class="popup-authorization_input" placeholder="Пароль" type="password" name="password" autocomplete="off">
    <div class="buttons">
        <a mat-dialog-close class="popup-authorization_button popup-authorization_button_authorization">
            Войти
        </a>
        <a mat-dialog-close class="popup-authorization_button popup-authorization_button_cancel">
            Отмена
        </a>
    </div>
    <a mat-dialog-close (click)="openPopupRegistration()" class="popup-authorization_text">У меня еще нет аккаунта</a>
</div>
  
