.popup-authorization
{
    width: 580px;
    height: 359px;
    background: #FFF;
    padding: 60px 60px;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    position: relative;
}

.exit::before
{
    content: url("../../../assets/images/exit-cross.svg");
    width: 24px;
    height: 24px;
}

.exit
{
    width: 24px;
    height: 24px;
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 17px;
    top: 21px;
}

.popup-authorization_title
{
    display: block;
    width: 515px;
    height: 30px;
    margin-bottom: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #25292D;
}

.popup-authorization_input:focus::placeholder {
    transform: translate(0px, -17px);
    font-size: 11px;
    color: #FDB100;
}

.popup-authorization_input:hover
{
    border: 1px solid #FDB100;
}

.popup-authorization_input:focus
{
    border: 1px solid #FDB100;
}

.popup-authorization_input
{
    transition: .3s;
    margin-top: 20px;
    width: 580px;
    height: 50px;
    padding: 11px 0 11px 26px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(37, 41, 45, 0.5);
    outline: none;
}

.buttons
{
    display: flex;
    flex-direction: row;
    width: 580px;
    justify-content: space-between;
}

.popup-authorization_button
{
    width: 278px;
    height: 60px;
    border-radius: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 30px 0 40px 0;
    cursor: pointer;
    text-decoration: none;
}

.popup-authorization_button_authorization:hover
{
    background-color: #FFF;
    box-shadow: 0 0 1px 1px #FDB100;
    color: #FDB100;
}

.popup-authorization_button_authorization
{
    box-shadow: 0 0 1px 1px #FDB100;
    background: #FDB100;
    border: none;
    color: #FFF;
    transition: .3s;
}

.popup-authorization_button_cancel:hover
{
    background: #FDB100;
    box-shadow: 0 0 1px 1px #FDB100;
    color: #FFF;
    border: none;
}

.popup-authorization_button_cancel
{
    background-color: #FFF;
    box-shadow: 0 0 1px 1px #FDB100;
    color: #FDB100;
    transition: .3s;
}

.popup-authorization_text
{
    display: block;
    margin: 0 auto;
    width: 242px;
    height: 26px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FDB100;
    border-bottom: 1px dashed #FDB100;
    cursor: pointer;
}