<div class="popup-link">
    <a mat-dialog-close class="exit"></a>
    <span class="popup-link_title">Войдите в профиль</span>
    <span class="popup-link_text">Добавлять рецепты могут только зарегистрированные пользователи.</span>
    <div class="buttons">
        <button mat-dialog-close (click)="openPopupAuthorization()" class="popup-switch_button popup-switch_button_authorization">
            Войти
        </button>
        <button mat-dialog-close (click)="openPopupRegistration()" class="popup-switch_button popup-switch_button_registration">
            Регистрация
        </button>
    </div>
</div>