<div class="popup-link">
    <a mat-dialog-close class="exit"></a>
    <span class="popup-link_title">Войдите в профиль</span>
    <span class="popup-link_text">Добавлять рецепты могут только зарегистрированные пользователи.</span>
    <div class="buttons">
        <a mat-dialog-close (click)="openPopupAuthorization()" class="popup-link_button popup-link_button_authorization">
            Войти
        </a>
        <a mat-dialog-close (click)="openPopupRegistration()" class="popup-link_button popup-link_button_registration">
            Регистрация
        </a>
    </div>
</div>