<div class="adding-recipe">
    <a class="back" routerLink="/recipe">Назад</a>
    <div class="title">
        <span class="title_text">Добавить новый рецепт</span>
        <a href="" class="title_button">Опубликовать</a>
    </div>
    <div class="recipe">
        <div class="recipe_photo">
            <div class="recipe_box"></div>
        </div>
        <div class="description">
            <input 
                class="description_input description_input_big" 
                placeholder="Название рецепта" 
                type="text" 
                name="name" 
                [(ngModel)]="recipe.name" 
                autocomplete="off"/>
            <textarea 
                class="description_input description_input_big  description_input_text" 
                placeholder="Краткое описание рецепта (150 символов)" 
                maxlength="150" 
                type="text" 
                name="description" 
                [(ngModel)]="recipe.description" 
                autocomplete="off">
            </textarea>
            <div class="description_block description_input_big">
                <mat-chip-list #chipList aria-label="Tags selection">
                    <mat-chip 
                        *ngFor="let tag of recipe.tags" 
                        [selectable]="selectable"
                        [removable]="removable" 
                        (removed)="removeTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input 
                        placeholder="Добавить теги" 
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addTag($event)"/>
                </mat-chip-list>
            </div>  
            <div class="description_numbers">
                <div class="description_numbers_number">
                    <input 
                        class="description_input description_input_small" 
                        placeholder="Время готовки" 
                        type="text" 
                        name="time" 
                        [(ngModel)]="recipe.timeMinutes" 
                        autocomplete="off"/>
                    <label class="description_text description_text_time">Минут</label>
                </div>   
                <div class="description_numbers_number">   
                    <input 
                        class="description_input description_input_small" 
                        placeholder="Порций в блюде" 
                        type="text" 
                        name="persons" 
                        [(ngModel)]="recipe.numberOfPersons" 
                        autocomplete="off"/>
                    <label class="description_text">Персон</label>
                </div>  
            </div>
        </div>
    </div>
    <div class="recipe-container">
        <div class="ingredients">
            <span class="ingredients_title">Ингредиенты</span>
            <div class="ingredients_block" *ngFor="let ingredient of recipe.ingredients let i = index"> 
                <a class="exit exit_ingredient" (click)="deleteTitle(i)"></a>
                <input 
                    class="ingredients_input" 
                    placeholder="Заголовок для ингредиентов" 
                    type="text" 
                    name="title" 
                    [(ngModel)]="ingredient.title" 
                    autocomplete="off"/>
                <div class="ingredients_input ingredients_input_big">
                        <mat-chip-list #chipList aria-label="Ingredient selection">
                            <mat-chip 
                                *ngFor="let item of ingredient.items" 
                                [selectable]="selectable"
                                [removable]="removable" 
                                (removed)="removeIngredient(item, ingredient)">
                                {{item}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input 
                                placeholder="Список продуктов для категории" 
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="addIngredient($event, ingredient)"/>
                        </mat-chip-list>
                </div> 
            </div>
            <a class="add_button" (click)="addTitle()">Добавить заголовок</a>
        </div>
        <div class="steps">
            <div class="step" *ngFor="let step of recipe.steps; let i = index">
                <a class="exit exit_step" (click)="deleteStep(i)"></a>
                <span class="step_header">Шаг {{i+1}}</span>
                <textarea 
                    class="step_input" 
                    placeholder="Описание шага" 
                    type="text" 
                    name="ingredients" 
                    [(ngModel)]="step.description" 
                    autocomplete="off">
                </textarea>
            </div>
            <a class="add_button add_button_margin-auto" (click)="addStep()">Добавить шаг</a>
        </div>
    </div>
</div>
