<div class="sorting">
    <span class="sorting__title">
        Умная сортировка по тегам
    </span>
    <span class="sorting__text">
        Добавляй рецепты и указывай наиболее популярные теги. 
        Это позволит быстро находить любые категории.
    </span>
    <div class="cards">
        <div class="card card_simple">
          <span class="card__title">Простые блюда</span>
          <span class="card__text">
            Время приготовления таких блюд не более 1 часа
          </span>
        </div>
        <div class="card card_baby">
          <span class="card__title">Детское</span>
          <span class="card__text">
            Самые полезные блюда которые можно детям любого возраста
          </span>
        </div>
        <div class="card card_chef">
          <span class="card__title">От шеф-поваров</span>
          <span class="card__text">
            Требуют умения, времени и терпения, зато как в ресторане
          </span>
        </div>
        <div class="card card_party">
          <span class="card__title">На Праздник</span>
          <span class="card__text">
            Чем удивить гостей, чтобы все были сыты за праздничным столом
          </span>
        </div>
    </div>
</div>