<div class="popup-registration">
    <a mat-dialog-close class="exit"></a>
    <span class="popup-registration_title">Регистрация</span>
    <input class="popup-registration_input popup-registration_input_big" placeholder="Имя" type="text" name="name" autocomplete="off">
    <input class="popup-registration_input popup-registration_input_big" placeholder="Логин" type="text" name="login" autocomplete="off">
    <div class="inputs-small">
        <input class="popup-registration_input popup-registration_input_small" placeholder="Пароль" type="password" name="password" autocomplete="off">
        <input class="popup-registration_input popup-registration_input_small" placeholder="Повторите пароль" type="password" name="password" autocomplete="off">
    </div>
    <span class="popup-registration_hint">Минимум 8 символов</span>
    <div class="buttons">
        <a mat-dialog-close class="popup-registration_button popup-registration_button_registration">
            Зарегистрироваться
        </a>
        <a mat-dialog-close class="popup-registration_button popup-registration_button_cancel">
            Отмена
        </a>
    </div>
    <a mat-dialog-close (click)="openPopupAuthorization()" class="popup-registration_text">У меня уже есть аккаунт</a>
</div>